<h1 class="text-center my-5">Products</h1>

<div *ngIf="!products">
  <div class="text-center my-5">
    <div class="spinner-grow" style="width: 7rem; height: 7rem;" role="status">
     <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="row mt-4 row-cols-1 row-cols-md-2">
  <div class="col mb-4" *ngFor="let product of products">
    <div class="card text-white bg-charcoal  h-100">
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price | currency }}</p>
        <button class="btn btn-green" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
