<h1 class="text-center my-5">Pick one of our associated shops</h1>

<div *ngIf="!shops">
  <div class="text-center my-5">
    <div class="spinner-grow" style="width: 7rem; height: 7rem;" role="status">
     <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div  *ngFor="let shop of shops">
  <button class="btn btn-charcoal my-2 w-100 " (click)="shopSelected(shop)">{{ shop.name }}</button>
</div>


